<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <form action="/data" method="get">
        <p><input type="text" name="team" placeholder="Digita Squadra"><input type="text" name="year" placeholder="Digita Anno"><input type="text" name="city" placeholder="Digita Città"></p>
        <input type="submit" value="Submit">
    </form>

        <form action="" method="post">
        <p><input type="radio" name="opt" value="team">Squadra <input type="radio" name="opt" value="year">Anno <input type="radio" name="opt" value="city">Città</p>
        <input type="text" name="text" id="">
        <input type="submit" value="Search" onclick="search()">
        </form>
        <h1 id="data"></h1>

        <script>

        </script>
</body>
</html>