<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <style>
        body {
            background-image: url('static/images/hourglass.jpg');
            size: 100%;
        }
        #time {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 90px;
            color: rgb(152, 188, 235);
            font-family: cursive;
            }
    </style>
</head>
<body>
    <div id="time"></div>
    <script src="/static/js/timeEs1.js"></script>
</body>
</html>