<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/styleEs1.css">
    <style>
        body {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;
        }
    </style>
</head>

<body>
    <a href="/meteo"><img src="/static/images/meteo.jpg" alt="" class="img"></a>
    <a href="/frasicelebri"><img src="/static/images/libro.jpg" alt="" class="img"></a>
    <a href="/quantomanca"><img src="/static/images/calendario.jpg" alt="" class="img"></a>
</body>

</html>